.flex-container {
  display: flex;
  width: 80%;
  border: solid 3px black;
  line-height: 45vh;
  text-align: center;
}
.flex__child {
  flex: 1 30%;
  height: 50vh;
  background-color: green;
}

.flex__child:first-child {
  background-color: red;
}
.flex__child:nth-child(2) {
  background-color: blue;
}
.flex__child:nth-child(3) {
  background-color: green;
}
.flex__child:nth-child(4) {
  background-color: yellow;
}
