.flex-container {
  display: flex;
  gap: 10px;
  width: 50%;
  align-items: flex-end;
  height: 50vh;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: solid 2px black;
  justify-content: center;
}

.flex__child {
  flex: 0 18%;
  height: 193px;
flex-basis: 1;
  border: solid 1px green;
}
div:nth-child(1) {
  background: rgb(255, 255, 255);
}
div:nth-child(2) {
  background: red;
}
div:nth-child(3) {
  background: rgb(98, 1, 79);
}
div:nth-child(4) {
  background: rgb(255, 0, 212);
}
div:nth-child(5) {
  background: rgb(255, 217, 0);
}
div:nth-child(6) {
  background: rgb(26, 255, 0);
}
div:nth-child(7) {
  background: rgb(255, 94, 0);
}
div:nth-child(8) {
  background: rgb(187, 255, 0);
}
div:nth-child(9) {
  background: rgb(255, 0, 242);
}
div:nth-child(10) {
  background: cyan;
}
div {
  background-color: #fff;
}
