* {
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  height: 140px;
}
.boxes1,
.boxes2,
.boxes3,
.boxes4,
.boxes5,
.boxes6,
.boxes7,
.boxes8 {
  border: 4px solid white;
  padding-left: 190px;
  padding-top: 25px;
  height: 80px;
}
.boxes1 {
  background-color: rgb(208, 255, 0);
}
.boxes2 {
  background-color: rgb(255, 0, 251);
}

.boxes3 {
  background-color: rgb(255, 115, 0);
}

.boxes4 {
  background-color: lawngreen;
}

.boxes5 {
  background-color: green;
}

.boxes6 {
  background-color: brown;
}

.boxes7 {
  background-color: red;
}

.boxes8 {
  background-color: blue;
}
