body {
  background-color: palevioletred;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: grid;
  margin: auto;
  width: 40%;
  height: 60vh;
  border: 3px solid black;
}

.child {
}

.child-a {
  background-color: yellow;
}
.child-b {
  background-color: pink;
}
.child-c {
  background-color: red;
}
.child-d {
  background-color: blue;
}
.child-e {
  background-color: purple;
}
.child-f {
  background-color: green;
}
