.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 60vh;
  border: solid 2px black;
}

.flex__child {
  flex: 1 20%;
  width: 100%;
  border: solid 1px green;
}

/* COLLORS*/

div:nth-child(1) {
  background: rgb(255, 255, 255);
}
div:nth-child(2) {
  background: red;
}
div:nth-child(3) {
  background: rgb(98, 1, 79);
}
div:nth-child(4) {
  height: 20px;
  background: rgb(255, 0, 212);
}
div:nth-child(5) {
  background: rgb(255, 217, 0);
}
div:nth-child(6) {
  background: rgb(26, 255, 0);
}
div:nth-child(7) {
  background: rgb(255, 94, 0);
}
div:nth-child(8) {
  height: 20px;
  background: rgb(187, 255, 0);
}
div:nth-child(9) {
  background: rgb(255, 0, 242);
}
div:nth-child(10) {
  background: cyan;
}
div {
  background-color: #fff;
}

@media (max-width: 992px) {
  .flex-container {
    height: 80vh;
  }
  .flex__child {
    flex: 1 30%;
  }
}
@media (max-width: 672px) {
  .flex-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 10%;
    height: 40vh;
  }
  .flex__child {
    width: 120px;
  }
}
